.list-item {

    max-width: 312px;
    width: 100%;
    min-height: 56px;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0px 0 5px 0px #888888;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    background-color: #ffffff;

    &.informativos {
        border-left: 7px solid #FF9900;
    }

    &.forca-de-vendas {
        border-left: 7px solid #56CCF2;
    }

    &.fique-ligado {
        border-left: 7px solid #79C126;
    }

    &.turbine-suas-vendas {
        border-left: 7px solid #660099;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 14px;
    }

    &__content {

        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        color: #828282;
        margin-bottom: 7px;

        &--top {
            color: #4F4F4F;
            font-size: 13px;
            font-weight: bold;
            font-family: "Open Sans", sans-serif;
            margin-bottom: 7px;
        }

        &--bottom {
            color: #4F4F4F;
            font-size: 11px;
            font-family: "Open Sans", sans-serif;
        }

        &--title, &--type {
            float: left;
        }

        &--id, &--date {
            float: right;
        }
    }
}